body {
    background-color: burlywood;
    text-align: center;
}

a.recipe-link {
    color: black;
    text-decoration: none;
    border: 0;
    margin: 0;
    display: inline;
}

.title-container {
    background-color:beige;
    border: 2px solid dimgray;
    margin: 20px;
    padding: 10px;
}

.title {
    text-align: center;
    color: black;
}

.recipe-link {
    margin: 10px;
    display: inline-block;
    border: 2px solid black;
}

.recipe-link-title {
    font-size: 30px;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid black;
}

.recipes-container {
    background-color:navajowhite;
    border: 2px solid gray;
    margin: 30px;
    padding: 20px;
}